<div class="ms-3">
  <% if I18n.locale == :en %>
    <%= image_tag('en.png', alt: 'English', class: 'rounded-circle', style: 'width:24px') %>
  <% elsif I18n.locale == :fr %>
    <%= image_tag('fr.png', alt: 'French', class: 'rounded-circle', style: 'width:14px') %>
  <% end %>
</div>
