
<nav class="h-auto navbar bg-danger navbar-quizapp position-sticky">
  <div class="container d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center">
      <%= link_to welcome_path, class: 'navbar-logo' do %>
        <%logo_html.html_safe %>
      <% end %>
    </div>
    <% if current_user %>
      <div class="d-flex align-items-center">
        <h1 class="h5 me-3 mb-0">
          <%= link_to t('forms.scoreboard'), scoreboard_steps_path, class: 'text-white m-0 fw-normal' %>
        </h1>
        <h1 class="h5 me-3 mb-0">
          <%= link_to t('forms.edit_profile'), edit_user_path, class: 'text-white m-0 fw-normal' %>
        </h1>
        <h1 class="h5 mb-0">
          <%= link_to t('forms.sign_out'), '#', class: 'text-white m-0 fw-normal', data: { bs_toggle: 'modal', bs_target: '#signoutModal' } %>
        </h1>
        <div class="ms-3">
        <% if I18n.locale == :en %>
        <img alt="English" class="rounded-circle" style="width:24px" src="/assets/en-dd5886d2fe8221b32c59aec4ea0d35e99ca4106e948d8eeb415248d988a07954.png">
      <% else %>
        <img alt="French" class="rounded-circle" style="width:24px" src="/assets/fr-325a69cd56fad37707af742198324741e86d1396cfc47ac4fb3e2d39e1306f32.png">
      <% end %>
        </div>
    <% end %>
  </div>
</nav>